* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    padding: 62px 72px 0px 89px;
    display: flex;
    justify-content: center;
}

nav img {
    width: 1280px;
    height: 697px;

}

.nav-container {
    display: inline-flex;
    align-items: center;
    padding-right: 650px;
    justify-content: center;
}

.logo{
    color: #414141;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

 ul {
    list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
}

ul li a {
     text-decoration: none;
     color: #414141;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-right: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.list-wrap {
    display: inline-flex;
    align-items: center;
    gap: 50px;
}

button {
    flex-shrink: 0;
    border: 1px solid #414141;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #414141;
    font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    height: 50px;
    width: 150px;
}

.hero-sec {
    width: 100%;
    height: 825px;
    background-image: url(asset/banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.hero-wrap {
    display: flex;
flex-direction: column;
align-items: center;
gap: 168px;
}

.text-head {
    color: #414141;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-text {
    color: #414141;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kotak {
    width: 75px;
    height: 3px;
    border-radius: 15px;
background: rgba(65, 65, 65, 0.75);
}

#article {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 697px;
    background-color: #F4F7F4;
}

.article {
    position: relative;
}

.header-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 67px;
}

.header-article span {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content-article {
    width: 999.297px;
    height: 400px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.content {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
}



.content-text {
    width: 299.766px;
    height: 200px;
    border-radius: 5px;
    background: #FFF;
    margin-top: -5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.25));
}

.content-text span {
    color: #414141;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.content-text p {
    color: #414141;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

img {
    width: 299.766px;
    height: 200px;
    flex-shrink: 0;
}

#about {
    display: inline-flex;
    align-items: flex-start;
    align-items: center;
}

#about img {
    width: 894.301px;
    height: 597px;
    flex-shrink: 0;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 639.5px;
    height: 580px;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.about-text p {
    width: 499.609px;
    color: #000;
    text-align: justify;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.about-text span {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#subscribe {
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: #F2F2F2;
}

.subscribe-content {
    width: 450px;
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.subscribe-content header {
    width: 147px;
    height: 51px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.subscribe-content span {
    color: #414141;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subscribe-content p {
    color: #414141;
    text-align: justify;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subscribe-content form input {
    width: 450px;
    height: 50px;
    flex-shrink: 0;
    border: 3px solid #FFF;
    background: #E9ECE9;
}

footer {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    justify-content: center;
}

footer ul li a {
    text-decoration: none;
    color: #414141;
    text-align: justify;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}