* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  display: block;
}


.Homepage {
  height: 2658px;
  display: flex;
  flex-direction: column;
}

.Heropage {
  background-size: 105%;
  background-repeat: no-repeat;
  height: 32%;
  width: 100%;
  position: relative;
  
}

.nav-box {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  margin: 25px;
}

.navlist {
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;
    padding: 0px 10px;
    margin: 0px 50px;
    gap: 40px;
    font-size: 18px;

}

li, a {
  text-decoration: none;
  color: black;
}

.cta {
  border: 2px solid black;
  padding: 12px;
  font-size: 14px;
  border-radius: 10px;
}

.titlebox {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  text-align: center;
  gap: 32px;
  
}



.linebox {
  display: flex;
  position: relative;
  width: 75px;
  border: 3px solid black;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
}

 .title {
  font-size: 64px;
}

.desc {
  font-size: 18px;
}

.Articles {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #EFEFEF;
  
}

.latest {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 10%;
  text-align: center;
  justify-content: center;
  top: 10%;
}

.latest span {
  font-size: 18px;
  font-weight: 600;
}
.linearticle {
  display: flex;
  position: relative;
  width: 50px;
  border-bottom: 3px solid black;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  top: 15px;
  
}

.listarticle {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  height: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  top: 20%;
  padding-top: 25px;
  gap: 50px;
  
  
}

.article1 {
  width: 300px;
  height: 400px;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 56px;
  border: 1px solid gray;
  box-shadow: 2px 3px gray;
  border-radius: 15px;
  overflow: hidden;
  
}

.article1:hover {
  background-color: yellowgreen;
  cursor: pointer;
}

.img1 {
  object-fit: contain;
}

.boxisi {
  display: flex;
  position: relative;
  gap: 12px;
  flex-direction: column;
}

.lineisi {
  display: flex;
  position: relative;
  width: 50px;
  border-bottom: 2px solid black;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.titlearticle {
  font-size: 18px;
  font-style: italic;

}

.boxisi p {
  font-weight: lighter;
}

.aboutbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;

}

.imgaboutbox {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
}

.imgabt {
  width: 100%;
  object-fit: cover;
}

.textabtbox {
  justify-content: center;
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.about {
  text-align: center;
  
}

.about span{
  font-size: 18px;
  font-weight: 600;
}



.lineabout {
    
    display: flex;
    position: relative;
    width: 50px;
    border-bottom: 2.5px solid black;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 15px;
    
}

.desabout {
  width: 80%;
}

.subscribebox {
  width: 100%;
  height: 20%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #f2f2f2;
}

.subsbox {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  text-align: center;
  align-items: center;
}

.subtitle {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
}

.headline {
  font-size: 18px;
  font-weight: 500;
}

.isi {
  font-size: 12px;
}


input[type=text] {
  width: 55%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #E9ECE9;
  border: 3px solid white;
}

.subbutton {
  padding: 0px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  height: 35px;
  cursor: pointer;
}

.footernav {
  display: flex;
  position: relative;
  height: 3%;
  width: 100%;

  align-items: center;
}

.smallnav {
  display: flex;
  position: absolute;
  right: 5%;
  width: 15%;
  justify-content: center;
}

.footerlist {
  display: flex;
  position: relative;
  font-size: 18px;
  gap: 25px;
  list-style: none;
}


